extends ../layout

block content
  h1 Create a User Account

  .row
    .col-md-12
      +formFor('/signup')
        .form-group
          label(for='fullName') Your Full Name
          input(type='text', name='fullName', class='form-control')

        .form-group
          label(for='phone') Your Phone Number
          input(type='text', name='phone', class='form-control')

        .form-group
          label(for='username') Create a User Name
          input(type='text', name='username', class='form-control')

        .form-group
          label(for='password') Create a Password
          input(type='password', name='password', class='form-control')

        .form-group
          p Verify my phone number with...
          .radio
            label
              input(type='radio', name='contactType', value='text', checked='')
              span a text message.

          .radio
            label
              input(type='radio', name='contactType', value='voice')
              span a voice call.

        button(type='submit', class='btn btn-primary') Create User