extends ../layout

block content
  h1 Two-Factor Authentication
  p.
    This is a simple example of Account Validation and Two-Factor Authentication
    using Node.js, <a href="http://www.twilio.com">Twilio</a> and the Express 
    web framework.  Sign in using the links above.